<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>Momi</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/styles.css">
</head>
<body>
  <header>
    <div class ="container"> 
      <div class ="row ">
          <div class ="col">
              <button id="closeExt" type="button" class=" btn btn-danger">
                <i class ="fa fa-close"></i>
              </button>
          </div>
          <div class ="col">
              <h1>Momi</h1>
          </div>
          <div class ="col">
            <button style="font-size:20px; float:right; color:orangered"><i class="fa fa-money"> 38</i></button>
              </button>
          </div>    
        </div>
    </div>
    <hr>
  </header>


    <h1 style ="text-align: center;">¡Mominedas!</h1>
    <h3 style ="text-align: center;">Tienes 38 Mominedas</h3>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default" style ="margin :4px;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            ¿Qué son?</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
      <div class="panel panel-default" style ="margin :4px;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            ¿Cómo utilizarlas?</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
      <div class="panel panel-default" style ="margin :4px;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            ¿Dónde gastarlas?</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
    </div>

    <div>
      <iframe style ="text-align: center;"width="200" height="150"src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>       
    </div>

  <footer>
    <hr>
    <div class="page-content page-container" id="page-content" >
        <div class="row container">
            <p class="">¿Quiéres más Momi?</p>
            <div class=""> 
                <button id="facebook" type="button" class="col-sm-3 col-md-3 btn btn-social-icon btn-outline-facebook" width="95">
                    <i class="fa fa-facebook"></i>
                </button>
            </div>
            <div class="">
                <button id="youtube" type="button" class="col-sm-3 col-md-3 btn btn-social-icon btn-outline-youtube" width="95">
                    <i class="fa fa-youtube"></i>
                </button>
            </div>
            <div class="">
                <button id="twitter" type="button" class="col-sm-3 col-md-3 btn btn-social-icon btn-outline-twitter" width="95">
                    <i class="fa fa-twitter"></i>
                </button>
            </div>
            <div class="">
                <button id="instagram" type="button" class="col-sm-3 col-md-3 btn btn-social-icon btn-outline-instagram" width="95">
                    <i class="fa fa-instagram"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="copyrightOutput" style="text-align: right;"></div>
  </footer>
  <script src="../scripts/couponFound.js"></script>
  <script src="../scripts/header.js"></script>
  <script src="../scripts/footer.js"></script>
  <script src="../bootstrap/js/jquery.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>



