<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>Momy</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id" content="717291628016-g8vn11j21kjcs8jbsaq7pt7gedkhtvst.apps.googleusercontent.com.apps.googleusercontent.com">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/styles.css">
  <script src="../scripts/jquery.js"></script>

</head>
<body>
  <header>
    <div class ="container"> 
      <div class ="row ">
          <div class ="col">
              <button id="closeExt" type="button" class=" btn btn-danger" style ="float:left;">
                <i class ="fa fa-close"></i>
              </button>
          </div>
            <img style ="text-align: center;"src="../images/MomyLetter.png" alt="Momy" height="50" width="200">
          <div class ="col">
              <button id="settingsPage" style ="float:right;">
                  <i class ="fa fa-cogs"></i>
              </button>
          </div>    
        </div>
    </div>
    <hr>
  </header>


    <h3 style ="text-align: center;">Bienvenido a Momy</h3>
    <h5 style="text-align: center;">No te preocupes, nosotros te notificaremos si encontramos una mejor oferta, o algún cupón</h5>
    <div id ="paragraphPopUpDiv">
        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, saepe reiciendis cumque praesentium
            eligendi sequi dignissimos! Blanditiis vel fugit nisi harum, dolore facere, dignissimos maiores dolorem, eos veniam magnam expedita?</p>
    </div>
    
    <div>
        <!-- 
            <iframe style ="text-align: center;"width="210" height="157"src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> 
        -->
        
    </div>
    

    <button id="betterOfferPage" >
        betterOffer
    </button>
    <button id="couponFoundPage" >
        couponFound
    </button>
    <button id="generalCouponsPage" >
        generalCoupons
    </button>
    <button id="statsPage" >
        Stats
    </button>
    <button id="coinsPage" >
        Coins
    </button>
    <button id="signUpLogInPage" >
        LogIn
    </button>
    <hr>
  <footer>
 
    <div class="page-content page-container" id="page-content" >
        <div class="row container">
            <p class="">¿Quiéres más Momi?</p>
            <div class=""> 
                <button id="facebook" type="button" class="col-sm-3 col-md-3 btn btn-social-icon btn-outline-facebook" width="95">
                    <i class="fa fa-facebook"></i>
                </button>
            </div>
            <div class="">
                <button id="youtube" type="button" class="col-sm-3 col-md-3 btn btn-social-icon btn-outline-youtube" width="95">
                    <i class="fa fa-youtube"></i>
                </button>
            </div>
            <div class="">
                <button id="twitter" type="button" class="col-sm-3 col-md-3 btn btn-social-icon btn-outline-twitter" width="95">
                    <i class="fa fa-twitter"></i>
                </button>
            </div>
            <div class="">
                <button id="instagram" type="button" class="col-sm-3 col-md-3 btn btn-social-icon btn-outline-instagram" width="95">
                    <i class="fa fa-instagram"></i>
                </button>
            </div>
        </div>
        <p style ="text-align: center;">
            <small>¿No tienes una cuenta? Regístrate
                <a href="../views/register.html"> aquí</a>
            </small>
        </p>
    </div>
    <div id="copyrightOutput" style="text-align: right;"></div>
  </footer>
  <script src="../scripts/popup.js"></script>
  <script src="../scripts/header.js"></script>
  <script src="../scripts/footer.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  
</body>
</html>



